    <div class="ngdialog-message">
        <div class="">
            <h3>Ayudas Preparación Cuerpos Superiores </h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="doUpdateAyudasCuerposSuperiores()">
                <div class="form-group">
                    <!--<label class="sr-only" for="comentario">Comentario</label>-->
                    <textarea class="form-control" rows="5" id="comment" ng-model="ayudas_cuerpos_superiores"></textarea>
                </div>

                <button type="submit" class="btn btn-info btn-sm">Modificar</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancelar</button> &nbsp; &nbsp;
            </form>
        </div>
        <div>

        </div>
    </div>